<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>923240763584-f3tb77bfv9kv6ni3u0tuq21k0ev5avg7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.923240763584-f3tb77bfv9kv6ni3u0tuq21k0ev5avg7</string>
	<key>API_KEY</key>
	<string>AIzaSyA6DZb77F25trIiZOVNq8ncvX9NsltzU_M</string>
	<key>GCM_SENDER_ID</key>
	<string>923240763584</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.projet</string>
	<key>PROJECT_ID</key>
	<string>projet-flutter-838f7</string>
	<key>STORAGE_BUCKET</key>
	<string>projet-flutter-838f7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:923240763584:ios:5b32100b13a17346625d25</string>
</dict>
</plist>